body{
	margin: 0;
	padding: 0;
	background-size:cover;
}
.box{
	width: 1000px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	text-align:center;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	color: white;
	font-family:'Century Gothic',sans-serif;
}
.box-img{
	border-radius: 50%;
	width:200px;
	height:200px;

}
/* .icon-img{
	border-radius: 50%;
	width:35px;
	height:35px;

} */
.box h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}
.box h5{
	font-size: 35px;
	letter-spacing: 3px;
	font-weight: 100;
}
.box p{
	text-align: justify;
}
/* ul{
	margin: 0;
	padding: 0;

} */
/* ul li{
	list-style: none;
	widows: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 0 10px;
	margin-bottom: 5%;
} */
.box li{
	display: inline-block;
	list-style: none;
	transition: all ease-in-out 250ms;
	border-radius:90%;
}
/* .box li a{
	color: white;
	text-decoration: none;
	font-size: 60px;
}  */
.box ul li:hover{

	width:35px;
	height:35px;
	background: transparent;
	box-shadow: 0 0 0 40px rgba(255,255,255,0.05),
				0 0 45px rgba(255,255,255,0.05),
				0 0 45px rgba(255,255,255,0.05),
				0 0 0 75px rgba(255,255,255,0.05);


}
