@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    /* --primary-color: #c56ad146; */
    --primary-color: #7C3AED;
    --dark-gray: #f1f3f7;
    --off-white: #e5e6eb0e;
    /* --dark-gray: #ffffff00;
    --off-white: #ffffff3b; */
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    /* background-color: #212329fd; */
    color: white;
    background: #009FFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    

}

hr {
    margin: 2rem 0rem;
}

/* spaces */

.margin-md{
    padding: 30rem;
}

/* container */
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.container-centers {
    max-width: 80%;
    margin: auto;
}

/** links **/
.link{
    text-decoration: none;
    margin: 1rem;
    padding: 0.5rem 1rem;
}
.link-social{
    text-decoration: none;
    margin: 2rem;
    /* padding: 7rem -2rem; */
}

/* BEM Namming */
.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

.link-secondary {
    color: white;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}



/* lists */

.list-remove-bullet {
    padding-inline-start: 0px;
    list-style: none;
    
}

.list-remove-bullets {
    padding: 1rem;
}


.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
    background-color: var(--primary-color);
    border-bottom-left-radius: 00.5rem;
    color: white;
    padding: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.2rem;
}
.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/* header */

.hero {
    padding: 2rem;
    padding-top: 5rem;

}

.hero-less-padding {
    padding: 2rem;
    padding-top: 2rem;
    background-color: var(--primary-color);
    text-align: center;
}



.hero .hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero-less-padding .hero-big-img {
    max-width: 80%;
    width: 750px;
    display: block;
    margin: auto;
  
}


.hero .hero-heading {
    text-align: center;
    padding: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/* section */

.section {
    padding: 2rem;
}

.section h1{
    text-align: center;

}

.ow {
    background-color: var(--off-white);
}

/* Footers */

.footer {
    background-color: #7C3AED;
    color: white;
    padding: 4rem 1rem;
    /* text-align: center; */
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: larger;

}

.footer .footer-pills{
    text-align: right;
}

.footer ul {
    padding-inline-start: 0px;
    
}

/* projects */
.showcase-list {
    padding: 2rem;
}

.showcase-blog {
    padding-bottom: 6rem;
}

/* blopost */


